<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 order-md-1 order-0 about-sec">
          <h1>website development</h1>
          <span class="span-text">made easy for you</span> 
          <p class="span-text">register yourself for free</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            libero odio ipsa enim repudiandae. Officiis voluptatem saepe
            praesentium id recusandae, quisquam, autem labore aliquam impedit
            veritatis, quaerat facilis vero amet dolorum aliquid aspernatur
            quasi.</p>
        </div>
        <div class="col-md-6 col-12 order-md-0 order-1">
          <figure>
            <img src="images/about2jpg.jpg" alt="aboutimg" class="img-fluid" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>