<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="about-text">About Us</h1>
      <p class="about-text-para">start your business with us</p>
      <div class="row">
        <div class="col-md-6 col-12 order-md-1 order-0 hero-text">
          <h1>website development
            <span class="span-text">made easy for you--</span>
          </h1>
          <p class="span-text span-about">register yourself for free
            <i class="fas fa-user-plus"></i>
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            libero odio ipsa enim repudiandae. Officiis voluptatem saepe
            praesentium id recusandae, quisquam, autem labore aliquam impedit
            veritatis, quaerat facilis vero amet dolorum aliquid aspernatur
            quasi.</p>
            <a href="#contactid">
            <button class="btn btn-danger w-25 mb-5 rounded-pill">Contact &rarr; </button>
            </a>
        </div>
        <div class="col-md-6 col-12 order-md-0 order-1">
          <figure>
            <img
              src="images/about2jpg.jpg"
              alt="aboutimg"
              class="img-fluid rounded"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>